h1, h2, h3, h4 {
    color: #3D5F9C;
    font-family: Arial, sans-serif;
    font-variant:small-caps;
}

a {
    font-style: inherit;
}

img {
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    padding: 0;
}

input {
 background-color: wheat;
 border: 0;
 width: 100%;
 box-sizing: border-box;
}

button {
    margin: auto;
    display:block;
    border-radius: 10px;
    border-color: blue;
    background-color: blue;
    background-size: 3px;
    font-family: inherit;
    color: yellow;
}

.button-colors {
 color: rgba(0, 0, 236, 0.5);
 background-color: wheat;
 border-color: rgb(255, 196, 2);
 border-width: 15px;
 border-radius: 5px;
}

.td-center {
 text-align: center;
 width: auto;
 background-color: #f9ba0c;
 padding: 5px;
}

.td-filler {
 width:10px;
 height:10px;
 border: none;
}

.table-center {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-spacing: 20px 0;
}

html {
    background-color: rgb(252, 241, 221);
}

.navbar_container {
    background-color: #fde5a7;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-evenly; 
}
nav ul li {
    display: inline; 
}
nav ul li a {
    text-decoration: none; 
    color: black; 
    padding: 10px;
}

.iniciar_sesion {
    text-align: right;
    float: right;
    font-size: 1.5em;
    padding: 10px;
    width: 100%;
}

.imagen_navbar {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.footer {
    background-color: #243964;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    flex: 1;
}

.right-content img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.7s;
}

.fade-out.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.7s;
}

.fade-in.fade-in {
    opacity: 1;
}