* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
  font-family: 'Allerta', Helvetica, Arial, Lucida, sans-serif;
}

h1, h2, h3, h4 {
  color: #3D5F9C;
  font-family: 'Allerta', Helvetica, Arial, Lucida, sans-serif;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 1vw;
}

p {
  text-align: justify;
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  font-style: inherit;
  padding-left: 5vw;
  padding-right: 5vw;
}

ul {
  list-style-type: disc;
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  position: relative;
  width: 100%;
}

.navbar_container {
  background-color: #fde5a7;
  width: 100vw;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#femenil.navbar_container{
  background-color: lightpink;
}

#topitos.navbar_container{
  background-color: lightsteelblue;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

.header_top.fixed-header {
  display: none;
}

.iniciar_sesion {
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  position: absolute;
  right: 20px;
  top: 10px;
}

.iniciar_sesion a {
  font-style: normal;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  color: #0e0e0e;
}

.iniciar_sesion:hover {
  background-color: #d68102;
  transform: scale(1.1);
}

.iniciar_sesion:hover a{
  color:#f1f1f1;
}

#femenil .iniciar_sesion:hover {
  background-color: deeppink;
}

#topitos .iniciar_sesion:hover {
  background-color: dodgerblue;
}

.imagen_navbar {
  text-align: center;
  width: 100%;
}

.imagen_navbar img {
  max-height: 200px;
}

.lista {
  width: 100%;
  text-align: center;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.lista.active {
  display: flex;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.lista.exit {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li {
  margin: 0 10px;
  text-align: center;
  max-width: 150px;
  white-space: pre-wrap;
  flex: 1;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
  line-height: 1.2em;
  margin-bottom: 2vw;
}

nav ul li.largo a {
  font-size: 1em;
  max-width: 120px;
}

nav ul li a:hover {
  color: #d68102;
  transform: scale(1.1);
}

#femenil li a:hover {
  color: deeppink;
}

#topitos li a:hover {
  color: dodgerblue;
}

nav ul li.flecha a {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .navbar_container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  .iniciar_sesion {
    align-self: center;
    margin: 10px 0;
  }
}

/* estadisticas */

.estadisticas-principal{
  width: 100%;
}

.estadisticas-principal td {
  justify-content: center;
}

.logos-principal {
  width: 20vw;
  height: auto;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: none;
  width: 60%;
}
.dropdown-content button img {
  width: 10vw;
  height: auto;
  margin-right: 10vw;
  float: right;
}
.dropdown-content button span {
  float: left;
  align-items: center;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
}
.show {
  display: block;
}


.h1_strong h1{
  font-weight: 800;
  font-size: 5em;
}

.estadisticas-titles{
  text-align: center;
}

.marcadores {
  width: 25%;
  text-align: center;
}

.marcadores h1{
  font-weight: 600;
  font-size: 4em;
}

.marcadores h3{
  font-size: 2em;
  text-align: center
}

.marcadores h4{
  font-size: 1.25em;
  text-align: center
}

.highlighter-row{
  background-color: #243964;
}

#row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

#topos_logo{
  width: 35vw;
}

#topos_varonil h1 {
  margin-top: 10vh;
  margin-bottom: 0;
  text-align: center;
}

#escudo_izquierda{
  width: 20vw;
}

#escudo_derecha{
  width: 20vw;
}

#marcador_top h3{
  font-size: 2em;
  margin-top: 10vh;
  margin-bottom: 0;
  text-align: center;
}

#estadisticas h3{
  font-size: 2em;
  text-align: center;
}

.centro-imagen {
  text-align: center;
}

#equipo_img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 50vw
}

/* administracion */

.admin h1{
  font-size: 2em;
  padding:5px;
  text-align: left;
}

.admin h2{
  padding:5px;
  text-align: left;

}

.button_td{
  align-items: start;
}

input[type=text],
input[type=number],
input[type=email]{
  box-sizing: border-box;
  padding: 12px 18px;
  border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-weight: bolder;
}
.write{
  text-align: center;
}

#left_team{
  margin-right: 0;
  margin-left: auto;
}

.fill{
  background-color: #fef4da;
  color: #3d5e9c;
  width: 200px;
  box-sizing: border-box;
  padding: 12px 18px;
  border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-weight: bolder;
}

.ima_equipo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.ima_usuario{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.info_cont{
  width: 40px;
  padding: 12px 18px;
  border-radius: 10px;
  background-color: #f9ba0c;
}

button{
  box-sizing: border-box;
  padding: 12px 18px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  display:block;
  background-color: blue;
  background-size: 3px;
  font-family: inherit;
  color: yellow;
}

.accept{
  background-color: #47972c;
  color: #bedab5;
}

.denied{
  background-color: #972c2c;
  color: #dab5b5;
}

.fill_up{
  width: 30%;
}

textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 300px;
  resize: vertical;
  min-height: 100%;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: whitesmoke;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}

textarea.active{
  resize: vertical;
  height: max-content;
}

/* registro */

input {
  background-color: floralwhite;
  border: 0;
}

button:hover{
  transform:scale(1.25) perspective(1px);
}

.btn-continuar button:hover{
  transform:none;
}

.button-colors {
  color: rgba(0, 0, 236, 0.5);
  background-color: wheat;
  border-color: rgb(255, 196, 2);
  border-width: 15px;
  border-radius: 5px;
}

.td-center {
  padding-left: 5%;
  padding-right: 5%;
  width: auto;
  text-align: center;
}

.td-left{
  width: auto;
  text-align: left;
  padding-left: 20%;
}

.table-center {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.leagues {
  padding-left: 3%;
}

.small-table{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.strongyellow{
  background-color: #f9ba0c;
}

.weakyellow{
  background-color: #fde5a7;
}

.strongblue{
  background-color: #0043c9;
}

.weakblue{
  background-color:#85acf3;
}

.strongred{
  background-color: #7a0707;
}

.weakred{
  background-color: #a34a4a;
}

.white-text {
  color: #FFFFFF;
}

#section_registro {
  background-color: rgb(252, 241, 221);
}

.custom-link:link {
  color: rgb(153, 149, 149);
}

.custom-link:visited {
  color: rgb(41, 41, 41);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* footer */

.footer {
  background-color: #243964;
  color: white;
  padding: 20px;
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex: 1;
}

.right-content img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

body.access {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex-direction:column;
}

body.access * {
  font-family:sans-serif;
  box-sizing:border-box;
}

body.access form {
  width:500px;
  border:2px solid #ccc;
  padding:30px;
  background:#fff;
  border-radius:15px;
}

body.access h2 {
  text-align:center;
  margin-bottom:40px;
}

body.access input{
  display:block;
  border:2px solid #ccc;
  width:95%;
  padding:10px;
  margin:10px auto;
  border-radius:5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bolder;
}

body.access label{
  color:#888;
  font-size:18px;
  padding:10px;

}

body.access button {
  float:right;
  background:#555;
  padding:10px 15px;
  color:#fff;
  border-radius:5px;
  margin-right:10px;
  border:none;
}

body.access button:hover{
  opacity:0.7;
}

.error{
  background:#F2DEDE;
  color:#A94442;
  padding:10px;
  border-radius:5px;
  margin:20px auto;
}

body.access h1 {
  text-align: center;
  color: #fff;
}

body.access a{
  float: right;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

body.access a:hover{
  opacity: 0.7;
}


body.calendario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* navbar */
.calendario nav ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}
.content ul {
  padding-inline-start: 70px;
}

.wrapper {
  width: 450px;
  padding-top: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 50px 80px rgba(0,0,0,0.50);
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

#calendar_title{
  text-align: center;
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.flecha img {
  width: 6vw;
  height: auto;
}

.reservation-wrapper {
  padding-left: 70px;
  width: 450px;
  height: 440px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 50px 80px rgba(0,0,0,0.50);
  position: absolute;
  align-items: center;
  top: 954px;
}

.reservation-wrapper h1, h2, h3, h4 {
  padding-top: 10px;
  padding-left: 0vw;
  padding-right: 0vw;
  margin-top: 1vw;
  margin-bottom: -2vw;
  text-align: left;
}

.reservation-wrapper h5 {
  margin-bottom: 0vw;
}

.reservation-wrapper button{
  text-decoration: solid;
  border-radius: 10px;
  position: relative;
  padding: 8px;
  align-items: center;
  background-color: #f2f2f2;
}
.calendario header .icons{
  display: flex;
}
.calendario header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
.calendario header .icons span:hover{
  background: #f2f2f2;
}
.calendario header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}

/* Calendar */
.calendar{
  padding: 30px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:not(.active):hover::before{
  background: #ffde85;
}

.inicia_resv {
  margin-left: 2vw;
  width: 300px;
  height: 320px;
  background-color: #fcb900;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.inicia_resv h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: revert;
}

.inicia_resv input {
  width: calc(100% - 20px);
  padding: 4px; /* Reducir el relleno */
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px; /* Reducir el tamaño de fuente */
}

.inicia_resv label {
  display: block;
  margin-bottom: 3px;
  font-size: 12px; /* Reducir el tamaño de fuente */
}

.days li.selected::before {
  background: #fcb900; /* Cambia el color del indicador */
  border-color: #fcb900; /* Cambia el color del borde del indicador */
}

.days li.selected {
  color: #fff; /* Cambia el color del número a blanco */
}

/* Define la animación para mostrar el div */
@keyframes mostrarIniciaResv {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Estilo inicial del div */
.inicia_resv {
  display: none; /* Ocultar el div inicialmente */
}

/* Agrega la clase de animación al div */
.mostrar {
  animation: mostrarIniciaResv 0.5s ease forwards;
  display: block; /* Asegurar que el div esté visible durante la animación */
}

/* Estilos mejorados para el botón de reserva */
.boton-reserva {
  background-color: #007bff !important; /* Color azul predeterminado */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 7vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.3); /* Sombra alrededor del botón */
}

.boton-reserva:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón por encima */
  transform: translateY(-2px); /* Efecto de levantamiento */
  box-shadow: 0px 6px 10px rgba(0, 123, 255, 0.5); /* Sombra más pronunciada al pasar el ratón por encima */
}

.boton-reserva:focus {
  outline: none; /* Quita el contorno predeterminado al hacer clic */
}

.days li.past {
  color: #878787; /* Cambia el color de los días pasados a gris */
}

.wrapper, .reservation-wrapper {
  box-sizing: border-box;
}

.btn-continuar {
  display: flex;
  justify-content: center;
}

.btn-continuar .cta {
  display: flex;
  padding: 5px 9px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  background: #007bff;
  transition: 1s;
  box-shadow: 5px 5px 0 black;
  transform: skewX(-15deg);
  border-radius: 10%;
  padding-bottom: 10px;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 5px 5px 0 #ABABAB;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 20px;
}

.calendario span {
  transform: skewX(15deg)
}

.calendario span:nth-child(2) {
  width: 15px;
  margin-left: 15px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

.calendario path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.calendario path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

#confirmacionFinal {
  background-image: url('../images/fondoConfirmacion.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  position: relative;
}

#confirmation{
  width: 600px; /* Ancho del cuadrado */
  height: 400px; /* Altura del cuadrado, igual al ancho para que sea cuadrado */
  background-color: white; /* Color de fondo blanco */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  position: absolute;
  display: inline block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#confirmation h1{
  color: #3D5F9C;
  font-family: 'Allerta', Helvetica, Arial, Lucida, sans-serif;
}

#greencheck{
  width: 70px;

}
/* SVG animations https://codepen.io/folaad/pen/YvmRpz */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}